[submodule "corrade"]
	path = corrade
	url = https://github.com/mosra/corrade.git
[submodule "magnum"]
	path = magnum
	url = https://github.com/mosra/magnum.git
[submodule "magnum-bootstrap"]
	path = magnum-bootstrap
	url = https://github.com/mosra/magnum-bootstrap.git
[submodule "magnum-plugins"]
	path = magnum-plugins
	url = git@github.com:mosra/magnum-plugins.git
[submodule "projects"]
	path = projects
	url = git@github.com:jeremy-prater/koala-projects.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "external/libzmq"]
	path = external/libzmq
	url = git@github.com:zeromq/libzmq.git
